html,
body, #root {
  height: 100%;
  margin: 0;
}

.App {
  text-align: center;
  background-color: black;
  color: white;
  display: flex;
  flex-flow: column;
  height: 100%;
  overflow-y: auto;
}

.content{
  flex: 1 1 auto;
}

.highlightedElement{
  border: 2px solid rgb(212, 215, 153, 0.7);
  border-radius: 5px;
}

.common{
  color: #888888;
}

.fine {
  color: #2DC50E;
}

.superior{
  color: #3A92FF;
}

.epic {
  color: #A02EF7;
}

.legendary {
  color: #CCAA1A;
}

.apex{
  color: #E58B27;
}

.radiant{
  color: #FF6F50;
}

button{
  background-color: black;
  color: rgb(212, 215, 153, 0.8);
  border: 2px solid rgb(212, 215, 153, 0.8);
  box-sizing: border-box;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  transition: color 0.3s ease, border 0.3s ease;
}

button:hover{
  color: rgba(181, 214, 245);
  border: 2px solid rgba(181, 214, 245);
}

button:disabled{
  color: #888888;
  border: 2px solid #888888;
  cursor:not-allowed;
}
